<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Serchinastico's Kanban</title>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Resources -->
    <link href="/styles.css" rel="stylesheet" />
  </head>
  <body class="flex-1">
    <p class="flex-1 text-4xl font-bold text-center py-6 bg-ash text-white">
      <%= title %>
    </p>

    <p class="text-md font-regular p-4 italic"><%= description %></p>
  </body>
</html>
